[submodule "chat-service"]
	path = chat-service
	url = https://github.com/wsmhz/chat-service.git
[submodule "chat-service-api"]
	path = chat-service-api
	url = https://github.com/wsmhz/chat-service-api.git
